$orange: #ff6600;
$black: #1c1c1c;
$light-blue: #0099ff;
$tx-gray: #657786;
$img-light-gray: #c4c4c4;
$img-dark-gray: #999999;
$bg-gray: #f5f8fa;
$light-gray: #e6ecf0;
$heart-pink: #E0245E;
$line-gray:#ccd6dd;
$disabled-orange:#FFB685;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


@mixin text-style($size, $weight, $color, $cursor: auto) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  cursor: $cursor;
}

%form-input-style {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid $tx-gray;
  background: $bg-gray;
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
  padding-top: 30px;
  padding-left: 10px;
}

%form-group-style {
  margin-bottom: 1.5rem;
  max-width: 540px;
  margin: 0 auto 1.5rem auto;
  position: relative;
}

%form-group-title-style {
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 1;
  font-size: 15px;
  color: $tx-gray;
}

%form-button-style {
  width: 100%;
  max-width: 540px;
  height: 50px;
  margin: 0 auto;
  background: $orange;
  color: #ffffff;
  border-radius: 50px;
  border: none;
}

%icon-style {
  background: $black;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}

%follow-btn-style{
  width: fit-content;
  height: 30px;
  padding: 8px 16px;
  background: $orange;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  line-height: 10px;
  font-weight: 700;
}
* {
  font-family: 'Noto Sans TC', sans-serif;
}

//可共用 class
.user-name {
  @include text-style(15px, 700, $black, pointer)
}

// 正在追隨和追隨按鈕可用 class
.following-btn, .to-follow-btn,.btn-filled,.btn-border{
  @extend %follow-btn-style;
}

.to-follow-btn,.btn-border{
  border: 1px solid $orange;
  background-color: transparent;
  color: $orange;
}
button:disabled,button[disabled]{
  background-color: $disabled-orange !important
}
//大頭貼 class 可用
.avatar-img {
  border-radius: 50%;
  background-color: $img-light-gray;
  width: 50px;
  height: 50px;
  cursor: pointer;
  object-fit: cover;
}

.non__show {
  display: none !important;
}
//// sweet alert 優先級最高 ////
.swal2-container {
  z-index: 9999;
}

/////// 空內容提醒文字 ///////
.empty-message{
  margin: 30px;
  text-align: center;
  @include text-style(20px, 700, $disabled-orange )
}

/////// 字數提醒樣式 ///////
.alert-text{
  width: 30px;
  height: 30px;
  border: 1px solid $line-gray;
  border-radius: 50%;
  margin: 0 15px;
  line-height: 28px;
  text-align: center;
  @include text-style(12px, 400, $line-gray);

    }
.hint{
    border-color:$orange;
    color: $orange;
    font-weight: 600;
  }